# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore package lock files (optional)
package-lock.json

# Ignore logs
*.log

# Ignore operating system files (like MacOS system files)
.DS_Store
